/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: "Inter";
	src: url(/css/Inter.woff) format("truetype");
}
* {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: #545454;
	font-weight: 400;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f2eee8;
}

a {
	text-decoration: none;
}
*,
*:before,
*:after {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.face {
	width: 300px;
	height: 300px;
	border: 4px solid #383a41;
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 100px;
}
@media screen and (max-width: 400px) {
	.face {
		margin-top: 40px;
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
}
.face .band {
	width: 350px;
	height: 27px;
	border: 4px solid #383a41;
	border-radius: 5px;
	margin-left: -25px;
	margin-top: 50px;
}
.face .band .red {
	height: calc(100% / 3);
	width: 100%;
	background-color: #eb6d6d;
}
.face .band .white {
	height: calc(100% / 3);
	width: 100%;
	background-color: #ffffff;
}
.face .band .blue {
	height: calc(100% / 3);
	width: 100%;
	background-color: #5e7fdc;
}
.face .band:before {
	content: "";
	display: inline-block;
	height: 27px;
	width: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	z-index: 999;
}
.face .band:after {
	content: "";
	display: inline-block;
	height: 27px;
	width: 30px;
	background-color: rgba(56, 58, 65, 0.3);
	position: absolute;
	z-index: 999;
	right: 0;
	margin-top: -27px;
}
.face .eyes {
	width: 128px;
	margin: 0 auto;
	margin-top: 40px;
}
.face .eyes:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 15px;
	border: 7px solid #383a41;
	margin-right: 20px;
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	border-bottom: 0;
}
.face .eyes:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 15px;
	border: 7px solid #383a41;
	margin-left: 20px;
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	border-bottom: 0;
}
.face .dimples {
	width: 180px;
	margin: 0 auto;
	margin-top: 15px;
}
.face .dimples:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 80px;
	border-radius: 50%;
	background-color: rgba(235, 109, 109, 0.4);
}
.face .dimples:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 80px;
	border-radius: 50%;
	background-color: rgba(235, 109, 109, 0.4);
}
.face .mouth {
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background-color: #383a41;
	margin: 0 auto;
	margin-top: 25px;
}

h1 {
	font-weight: 800;
	color: #383a41;
	text-align: center;
	font-size: 2.5em;
	padding-top: 20px;
}
@media screen and (max-width: 400px) {
	h1 {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2em;
	}
}

.btn {
	margin: 0;
	padding: 0 3.5rem;
	height: 2.81rem;
	line-height: 2.8rem;
	border-radius: 7px;
	background-color: #0070f3;
	-webkit-box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
	box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
	color: white;
	outline: none;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}
@media screen and (max-width: 400px) {
	.btn {
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 50px;
		width: 200px;
	}
}
.btn:hover {
	background: rgba(0, 118, 255, 0.9);
	-webkit-box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
	box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
