/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
	font-family: "Inter";
	src: url(/css/Inter.woff) format("truetype");
	font-display: swap;
}
* {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #545454;
    font-weight: 400;
}
.wrapper {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 90vh;
	position: relative;
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: 100%;
}
.subContent {
	display: -ms-grid;
	display: grid;
	place-items: center;
}
.inputContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	gap: 20px;
	width: 50%;
}
.inputFieldContainer {
	width: 100%;
}
.urlField {
	width: 100%;
	font-size: 1.3rem;
	padding: 0.6rem;
	border-radius: 0.5rem;
	border: 1px solid #eadada;
	outline: 0;
	-webkit-box-shadow: 0 0 4px 0px #44444444;
	        box-shadow: 0 0 4px 0px #44444444;
}
.inputFieldContainer :focus,
.inputFieldContainer :hover {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
	        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
	border-color: rgba(223, 225, 229, 0);
}
.submitButton {
	margin: 0;
	padding: 0 3.5rem;
	height: 2.81rem;
	line-height: 2.8rem;
	border-radius: 7px;
	background-color: #0070f3;
	-webkit-box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
	        box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
	color: white;
	outline: none;
	border: none;
	font-size: 1.3rem;
	cursor: pointer;
}
.submitButton:hover {
	background: rgba(0, 118, 255, 0.9);
	-webkit-box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
	        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
#linkContainer {
	display: none;
}
.qrHolder {
	display: none;
	margin-top: 3rem;
}
#copySuccessfulBanner {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	top: 30px;
	font-size: 17px;
}
#copySuccessfulBanner.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 0;
		opacity: 0;
	}
}
@keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 0;
		opacity: 0;
	}
}
@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0)
    }

    to {
        -webkit-filter: hue-rotate(-360deg)
    }
}
.siteTitle {
    -webkit-text-fill-color: transparent;
    animation: hue 4s linear infinite;
    -webkit-animation: hue 10s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(92deg,#f35626,#ff8c00);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}
.navigation {
	width: 3.125rem;
	background: 0 0;
	height: 3.125rem;
	outline: 0;
	border: 0;
}
.navigation svg {
	width: 100%;
	-webkit-box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
	        box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
	border: 0;
	border-radius: 50%;
}
.option {
	cursor: pointer;
	margin-left: 0.2rem;
	border-radius: 0.5rem;
}
.option :hover {
	-webkit-box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.1);
	border-color: transparent;
}
.option svg {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
	border-radius: 0;
}
.topNavigation {
    cursor: pointer;
	display: none;
	position: absolute;
	top: 2rem;
	left: 2rem;
}
.topNavigation span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.5rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.topNavigation svg, .topNavigation path, .topNavigation button {
    cursor: pointer;
}
.finalLinkContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.generateQRButton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-grid-column-align: center;
	    justify-self: center;
    gap: 10px;
}
.generateQRButton span,
.generateQRButton svg,
.generateQRButton path {
	color: #fff;
}
.generateQRButton svg {
	margin-left: 0.2rem;
	width: 1rem;
}
.qrContainer {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 1rem;
	margin: 1rem;
	-webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 23%);
	        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 23%);
	border: 0;
	border-radius: 0.4rem;
}
@media only screen and (max-width: 480px) {
	.urlField {
		width: 94%;
	}
	.inputContainer {
		width: 94%;
	}
	.topNavigation {
		top: 1rem;
		left: 1rem;
	}
	.wrapper {
		height: 97vh;
	}
}